.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.bannerMobile {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        padding: 0px 20px;
    }
}

@media (max-width: 800px) {
    .bannerDesk {
        display: none;
    }

    .bannerMobile {
        display: block;
    }
}