.sidebar {
    background-color: white !important;
}

.long,
.active,
.custom-navbar .navbar-brand {
    background-color: #FF5607 !important;
}

.custom-menu ul li,
.custom-menu ul li a {
    color: black !important
}

.sidebar-form .input-group input,
.sidebar-form .input-group button {
    background-color: gainsboro !important;
}

.small-chart {
    width: 300px !important;
    /* Ajuste a largura conforme necessário */
    height: 300px !important;
    /* Ajuste a altura conforme necessário */
}

.contentchart {
    display: flex;
    justify-content: center;
}

.btn-light {
    display: none!important;
}