.areaList {
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // gap: 40px;
}

.leadArea {
    display: flex;
    align-items: center;
    gap: 16px;

    .imageArea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: #D9D9D9;

        svg {
            height: 18px;
        }
    }

    .informationArea {
        h1 {
            font-weight: 600;
        }
        p {
            font-size: 14px;
        }
    }
}