.container {
    display: flex;
    gap: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 100px;
}

.lineDeco {
    position: absolute;
    left: 0px;
}

// Info Area
.infoArea {
    width: 45%;
    font-weight: 500;
    padding: 10px;
    span {
        // font-size: 14px;
        color: #646464;
    }
    .title {
        // font-size: 36px;
        line-height: 120%;

        b {
            font-weight: 600;
            color: #0C9C95;
        }
    }
    .description {
        margin-top: 20px;
        max-width: 450px;
        color: #555555;
        margin-bottom: 30px;
        text-align: justify;
    }

    .download {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        position: relative;
        background-color: #0C9C95;
        color: #fff;
        z-index: 99;
        padding: 8px 8px 8px 16px;
        border-radius: 40px;
        margin-top: 20px;

        .iconArea {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 28px;
            height: 28px;
            background-color: #fff;
            border-radius: 50%;

            svg {
                height: 13px;
                fill: #f57c29;
            }
        }
    }


    .differencils {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-top: 30px;

        li {
            display: flex;
            gap: 20px;
            font-weight: 600;

            svg {
                min-width: 20px;
                height: 20px;
                width: auto;
                fill: #f57c29;
            }
        }
    }
}

// Video area
.videoArea {
    width: 55%;

    img {
        border-radius: 20px;
        width: 100%;
    }

    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 20px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0px 20px;
    }
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        gap: 40px;
    }

    .infoArea {
        width: 100%;
    }

    .videoArea {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .container {
        padding-top: 20px;
    }
}
