.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

// Title Area
.titleArea {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;

    .textArea {
        display: flex;
        gap: 20px;

        .areaIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 46px;
            height: 46px;
            border-radius: 50%;
            border: 1px dashed #F57C29;
        }

        .text {
            font-weight: 500;
            span {
                font-size: 14px;
            }
            h2 {
                font-size: 24px;
                line-height: 100%;
            }
        }
    }

    .moreButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        border: 1px dashed #F57C29;
        border-radius: 50%;

        svg {
            path {
                fill: #F57C29;
            }
        }
    }
}


// Area Cards
.areaCards {
    display: flex;
    height: 500px;

    .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
    
        // background-color: rgba($color: #000000, $alpha: .4);
        transition: .3s;
        overflow: hidden;

        .bgImage {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            filter: brightness(0.6);
            transition: .3s;
        }

        .areaText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #fff;
            width: 210px;
            font-weight: 500;

            h1 {
                font-size: 24px;
                line-height: 110%;
            }
            p {
                font-size: 14px;
                margin-top: 10px;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px dashed #fff;
                margin-top: 20px;
                transition: .3s;
            }
        }
    }

    .card:first-child {
        border-radius: 20px 0px 0px 20px;
    }

    .card:last-child {
        border-radius: 0px 20px 20px 0px;
    }

    .card:hover {
        height: 500px;
        border-radius: 20px;
        transform: translateY(-50px);
        width: 28%;
        .bgImage {
            filter: brightness(0.85);
        }
        .areaText {
            a {
                background-color: #F57C29;
                border: 1px solid #F57C29;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0px 20px;
    }
}

@media (max-width: 800px) {
    .areaCards {
        height: auto;
        flex-direction: column;

        .card {
            width: 100%;
            height: auto;
            padding: 20px;

            .areaText {
                h1 {
                    font-size: 20px;
                }
            }
        }
        .card:hover {
            width: 100%;
            height: auto;
            border-radius: 0px;
            transform: translateY(0px);
        }

        .card:first-child {
            border-radius: 20px 20px 0px 0px;
        }
    
        .card:last-child {
            border-radius: 0px 0px 20px 20px;
        }
    }
}

@media (max-width: 700px)  {
    .titleArea {
        align-items: center;
        .textArea {
            .text {
                h2 {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

        .moreButton {
            align-items: center;
            font-size: 0px;
            width: 40px;
            height: 40px;
        }
    }
}